@using ProjectSS.Common
@using System.Web.WebPages;
@using ProjectSS.Web.Models
@model List<ProjectSS.Web.Models.CRMViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var canAccessOM = User.IsInRole(RoleType.OM.ToString());
    var canAccessTH = User.IsInRole(RoleType.TH.ToString());
    var canAccessAH = User.IsInRole(RoleType.AH.ToString());
}
<h3>
    List of CRM
    <a class="btn btn-labeled btn-success btn-sm pull-right" href="@Url.Action("Create", "CRM")">
        <span class="btn-label"><i class="fa fa-plus"></i></span>
        ADD CONTACT
    </a>
    <ol class="breadcrumb">
        <li>
            <a href="/Home">Home</a>

        </li>
        <li class="active">CRM</li>
    </ol>
</h3>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table id="datatable1" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="hidden"></th>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>Region</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var u in Model)
                            {
                                <tr>
                                    <td class="hidden">@u.TableNumber</td>
                                    <td>@u.Reference</td>
                                    <td>@u.Name</td>
                                    <td>@u.CompanyName</td>
                                    <td>
                                        @if (u.MobileNo != null && !u.MobileNo.IsEmpty())
                                        {
                                            @u.MobileNo
                                        }
                                        else if (u.OfficeNo != null && !u.OfficeNo.IsEmpty())
                                        {
                                            @u.OfficeNo
                                        }
                                    </td>
                                    <td>@u.Email</td>
                                    <td>@u.Region</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" data-toggle="dropdown" class="btn btn-primary btn-xs"><i class="icon-menu"></i></button>
                                            <ul role="menu" class="dropdown-menu animated flipInY">
                                                <li>
                                                    <a href="@Url.Action("Manage", "CRM", new { id = u.Id })">Manage</a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#emailmodal-@u.Id" style="color:green">Add Email Remarks</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ManageWithEmail", "CRM", new { id = u.Id })">Email History</a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#callmodal-@u.Id" style="color:green">Add Call Remarks</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("ManageWithCall", "CRM", new { id = u.Id })">Call History</a>
                                                <li>
                                                    <a href="@Url.Action("ManageWithRevision", "CRM", new { id = u.Id })">Revision History</a>
                                                </li>
                                                @if (canAccessOM == true || canAccessTH == true || canAccessAH == true)
                                                {
                                                    <li>
                                                        <a href="#" data-toggle="modal" data-target="#deletemodal-@u.Id" style="color:red">Delete</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section BodyArea {
    @foreach (var item in Model)
    {
        <div id="deletemodal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabelSmall" aria-hidden="true" class="modal fade">
            <div class="modal-dialog modal-sm">
                @using (Html.BeginForm("Delete", "CRM", new { @id = item.Id }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 id="myModalLabelSmall" class="modal-title">Delete</h4>
                        </div>
                        <div class="modal-body"><span>Are you sure you want to delete this record?</span></div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Yes</button>
                            <a href="" type="button" class="btn btn-info" data-dismiss="modal">No</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="callmodal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabelSmall" aria-hidden="true" class="modal fade">
            <div class="modal-dialog modal-sm">
                @using (Html.BeginForm("Call", "CRM", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                                <span aria-hidden="true"> </span>
                            </button>
                            <h4 id="myModalLabelSmall" class="modal-title">Call </h4>
                        </div>
                        <div class="modal-body">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.Partial("_CallEntry", new CRMCallHistoryModel { CRMId = item.Id })
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Save</button>
                            <a href="" type="button" class="btn btn-info" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="emailmodal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabelSmall" aria-hidden="true" class="modal fade">
            <div class="modal-dialog modal-sm">
                @using (Html.BeginForm("Email", "CRM", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                                <span aria-hidden="true"> </span>
                            </button>
                            <h4 id="myModalLabelSmall" class="modal-title">Email</h4>
                        </div>
                        <div class="modal-body">
                            @Html.AntiForgeryToken() 
                            @Html.ValidationSummary(true)
                            @Html.Partial("_EmailEntry", new CRMEmailHistoryModel { CRMId = item.Id })
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Save</button>
                            <a href="" type="button" class="btn btn-info" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}
@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
}
@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/demoDatatable")
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@TempData["Error"]' != "") {
                $.notify('@TempData["Error"]', "danger");
            }
            if ('@TempData["Success"]' != "") {
                $.notify('@TempData["Success"]', "success");
            }
            if ('@TempData["Info"]' != "") {
                $.notify('@TempData["Info"]', "info");
            }
            if ('@TempData["Warning"]' != "") {
                $.notify('@TempData["Warning"]', "warning");
            }
        });
    </script>
}


