@model ProjectSS.Web.Models.admin.UserViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>
    @Model.Displayname
    <div class="btn-group  pull-right">
        <button type="button" data-toggle="dropdown" class="btn btn-info">Option</button>
        <button type="button" data-toggle="dropdown" class="btn dropdown-toggle btn-info">
            <span class="caret"></span>
            <span class="sr-only">primary</span>
        </button>
        <ul role="menu" class="dropdown-menu">
            <li>
                <a href="@Url.Action("ChangePassword", "Account", new { @userId = Model.Id })">Change Password</a>
            </li>
            @if (@Model.IsCurrentUser == false)
            {
                <li>
                    <a href="#" data-toggle="modal" data-target="#deletemodal" style="color:red">Delete</a>
                </li>
            }
            <li>
                <a href="/Users">Back</a>
            </li>
        </ul>
    </div>
    <ol class="breadcrumb">
        <li>
            <a href="/Home">Home</a>
        </li>
        <li>
            <a href="/Users">Users</a>
        </li>
        <li class="active">Edit</li>
    </ol>
</h3>
@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.AccountId)
    <div class="row">
        <div class="col-lg-12">
            <form method="post" action="#" data-parsley-validate="" novalidate="">
                <!-- START panel-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @type = "text", @placeholder = "Enter First Name", @required = "required" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Middle Name</label>
                            @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control", @type = "text", @placeholder = "Enter Middle Name", @required = "required" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Last Name</label>
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @type = "text", @placeholder = "Enter Last Name", @required = "required" })
                        </div>
                        <div class="form-group col-sm-6" style="padding-left:0">
                            <label>Rate</label>
                            @Html.TextBoxFor(model => model.Rate, new { @class = "form-control", @type = "text", @required = "required" })
                        </div>
                        <div class="form-group col-sm-6" style="padding:0">
                            <label>Mobile Number</label>
                            @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @type = "number", @placeholder = "Enter Mobile" })
                        </div>
                        <div class="form-group col-sm-6" style="padding-left:0">
                            <label>Gender</label>
                            @Html.EnumDropDownListFor(model => model.Gender, "Select Gender", new { @class = "form-control", @type = "text", @required = "required" })
                        </div>
                        <div class="form-group col-sm-6" style="padding:0">
                            <label>Birthday</label>
                            <div class="input-group date">
                                @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control datepicker", @required = "required", @placeholder = "Enter Birthday  " })
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6" style="padding-left:0">
                            <label>Role Type</label>
                            @Html.DropDownListFor(model => model.RoleId, (List<SelectListItem>)ViewBag.Roles, "Select Role", new { @class = "form-control", @required = "required", })
                        </div>
                        <div class="form-group col-sm-6" style="padding:0">
                            <label>Status</label>
                            <select class="form-control" id="IsActive" name="IsActive">
                                <option value=""></option>
                                <option @(Model.IsActive == true ? "selected" : " ") value="true">Activate</option>
                                <option @(Model.IsActive == false ? "selected" : " ") value="false">Deactivate</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Email address</label>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "email", @placeholder = "Enter email", @required = "required" })
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="clearfix">
                            <div class="pull-left">
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success">Save</button>
                                <a href="/User" type="button" class="btn btn-info">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel-->
            </form>
        </div>
    </div>
}

@section BodyArea {
    <div id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelSmall" aria-hidden="true" class="modal fade">
        <div class="modal-dialog modal-sm">
            @using (Html.BeginForm("Delete", "User", new { @id = Model.Id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 id="myModalLabelSmall" class="modal-title">Delete</h4>
                    </div>
                    <div class="modal-body"><span>Are you sure you want to delete this User?</span></div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Yes</button>
                        <a href="" type="button" class="btn btn-info" data-dismiss="modal">No</a>
                    </div>
                </div>
            }
        </div>
    </div>
}

@section Styles {
    @Styles.Render("~/bundles/datetimePickerCss")
}
@section Scripts {
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/datetimePicker")
    @Scripts.Render("~/bundles/demoForms")
    @Scripts.Render("~/bundles/parsley")
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@TempData["Error"]' != "") {
                $.notify('@TempData["Error"]', "danger");
            }
            if ('@TempData["Success"]' != "") {
                $.notify('@TempData["Success"]', "success");
            }
            if ('@TempData["Info"]' != "") {
                $.notify('@TempData["Info"]', "info");
            }
            if ('@TempData["Warning"]' != "") {
                $.notify('@TempData["Warning"]', "warning");
            }
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('.datepicker').datetimepicker({
                format: 'MM/DD/YYYY'
            });
        });
    </script>
}