@model ProjectSS.Web.Models.BudgetRequestViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>
    New Budget Request
    <div class="pull-right">
        <a id="button1" type="Submit" class="btn btn-success" href="#">
            Submit
        </a>
        <a type="button" class="btn btn-info" href="@Url.Action("Show", "Project", new {@id = Model.ProjectId })">
            Back
        </a>
    </div>
    <ol class="breadcrumb">
        <li>
            <a href="/Home">Home</a>
        </li>
        <li>
            <a href="/Project">Projects</a>
        </li>
        <li>
            <a href="@Url.Action("Show", "Project", new {@id = Model.ProjectId })">@Model.ProjectNumber</a>
        </li>
        <li class="active">New</li>
    </ol>
</h3>

<div class="row">
    @using (Html.BeginForm("Index", "BudgetRequest", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        for (int i = 0; i < Model.Items.Count; i++)
        {
            @Html.HiddenFor(model => Model.Items[i].Category)
            @Html.HiddenFor(model => Model.Items[i].ItemName)
            @Html.HiddenFor(model => Model.Items[i].Description)
            @Html.HiddenFor(model => Model.Items[i].Amount)
            @Html.HiddenFor(model => Model.Items[i].TempId)
        }
        for (int i = 0; i < Model.ListOfDeleted.Count; i++)
        {
            @Html.HiddenFor(model => Model.ListOfDeleted[i])
        }
        @Html.HiddenFor(m => m.ProjectNumber)
        @Html.HiddenFor(m => m.ProjectId)
        @Html.HiddenFor(m => m.IsCreate)
        @Html.HiddenFor(m => m.TobeDeleted)
        <button type="submit" class="hidden" id="button2"></button>

        <div class="col-lg-8">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="form-group col-sm-6" style="padding-left:0">
                        <label>Purpose</label>
                        @Html.TextBoxFor(model => model.Purpose, new { @class = "form-control", @type = "text" })
                    </div>
                    <div class="form-group col-sm-6" style="padding:0">
                        <label>Date Needed</label>
                        <div class="input-group date">
                            @Html.TextBoxFor(m => m.DateNeeded, new { @class = "form-control datepicker", @placeholder = "Enter Date Needed" })
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Item</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ShowItems)
                                {
                                    <tr>
                                        <td>@item.Category</td>
                                        <td>@item.ItemName</td>
                                        <td>@item.Description</td>
                                        <td>@item.Amount.ToString("P" + " " + "#,0.00")</td>
                                        <td>
                                            <button type="button" id="a-@item.TempId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        <div>
                            Total:
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- START panel-->
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Category</label>
                        <select id="mainDropdown" class="form-control" name="CategoryDropdown">
                            <option @(Model.CategoryDropdown == "" ? "selected" : " ") value="">--Select One--</option>
                            <option @(Model.CategoryDropdown == "CONTRACTORS/OUTSOURCE" ? "selected" : " ") value="CONTRACTORS/OUTSOURCE">CONTRACTORS/OUTSOURCE</option>
                            <option @(Model.CategoryDropdown == "OPERATING EXPENSES" ? "selected" : " ") value="OPERATING EXPENSES">OPERATING EXPENSES</option>
                            <option @(Model.CategoryDropdown == "EQUIPMENT" ? "selected" : " ") value="EQUIPMENT">EQUIPMENT</option>
                            <option @(Model.CategoryDropdown == "LABORATORY ANALYSIS" ? "selected" : " ") value="LABORATORY ANALYSIS">LABORATORY ANALYSIS</option>
                            <option @(Model.CategoryDropdown == "COMMISSIONS/REPRESENTATIONS" ? "selected" : " ") value="COMMISSIONS/REPRESENTATIONS">COMMISSIONS/REPRESENTATIONS</option>
                        </select>
                    </div>
                    <div id="contractor" class="hidden">
                        <label>Item</label>
                        @Html.DropDownListFor(model => model.ItemId1, (List<SelectListItem>)ViewBag.Contractors, "Select", new { @class = "form-control" })
                    </div>
                    <div id="expense" class="hidden">
                        <label>Item</label>
                        @Html.DropDownListFor(model => model.ItemId2, (List<SelectListItem>)ViewBag.Expenses, "Select", new { @class = "form-control" })
                    </div>
                    <div id="equipment" class="hidden">
                        <label>Item</label>
                        @Html.DropDownListFor(model => model.ItemId3, (List<SelectListItem>)ViewBag.Equipments, "Select", new { @class = "form-control" })
                    </div>
                    <div id="labarotory" class="hidden">
                        <label>Item</label>
                        @Html.DropDownListFor(model => model.ItemId4, (List<SelectListItem>)ViewBag.Labarotories, "Select", new { @class = "form-control" })
                    </div>
                    <div id="commission" class="hidden">
                        <label>Item</label>
                        @Html.DropDownListFor(model => model.ItemId5, (List<SelectListItem>)ViewBag.Commissions, "Select", new { @class = "form-control" })
                    </div>
                    <div id="description" class="form-group">
                        <label>Description</label>
                        @Html.TextAreaFor(model => model.Item.Description, new { @class = "form-control", @row = "4" })
                    </div>
                    <div class="form-group">
                        <label>Amount</label>
                        @Html.TextBoxFor(model => model.Item.Amount, new { @class = "form-control", @type = "number" })
                    </div>
                    <div class="form-group">
                        <button id="addItem" type="button" class="mb-xl btn btn-success col-sm-12">Add Item</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
    @Styles.Render("~/bundles/datetimePickerCss")       
}
@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/demoDatatable")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/datetimePicker")
    @Scripts.Render("~/bundles/parsley")
    <script type="text/javascript">
            $(document).ready(function () {
                if ('@TempData["Error"]' != "") {
                    $.notify('@TempData["Error"]', "danger");
                }
                if ('@TempData["Success"]' != "") {
                    $.notify('@TempData["Success"]', "success");
                }
                if ('@TempData["Info"]' != "") {
                    $.notify('@TempData["Info"]', "info");
                }
                if ('@TempData["Warning"]' != "") {
                    $.notify('@TempData["Warning"]', "warning");
                }
            });
    </script>
    <script type="text/javascript">
                $(function () {
                    $('.datepicker').datetimepicker({
                        format: 'MM/DD/YYYY'
                    });
                    $('.timepicker').datetimepicker({
                        format: 'HH:mm'
                    });
                });
    </script>
    <script type="text/javascript">
        $('#button1').click(function () {
            $("#IsCreate").val("true")
            $("#button2").click();
        });
    </script>
    <script type="text/javascript">
        $('#addItem').click(function () {
            $("#IsCreate").val("addItem")
            $("#button2").click();
        });
    </script>
    @foreach (var item in Model.ShowItems)
    {
        <script type="text/javascript">
            $('#a-@item.TempId').click(function () {
                $("#TobeDeleted").val('@item.TempId')
                $("#IsCreate").val("delete")
                $("#button2").click();
            });
        </script>
    }
    <script type="text/javascript">
            $('#mainDropdown').change(function () {
                var e = document.getElementById("mainDropdown");
                switch (e.value) {
                    case "OPERATING EXPENSES":
                        document.getElementById("expense").className = "form-group";
                        document.getElementById("contractor").className = "hidden";
                        document.getElementById("equipment").className = "hidden";
                        document.getElementById("labarotory").className = "hidden";
                        document.getElementById("commission").className = "hidden";
                        break;
                    case "CONTRACTORS/OUTSOURCE":
                        document.getElementById("contractor").className = "form-group";
                        document.getElementById("expense").className = "hidden";
                        document.getElementById("equipment").className = "hidden";
                        document.getElementById("labarotory").className = "hidden";
                        document.getElementById("commission").className = "hidden";
                        break;
                    case "EQUIPMENT":
                        document.getElementById("equipment").className = "form-group";
                        document.getElementById("expense").className = "hidden";
                        document.getElementById("contractor").className = "hidden";
                        document.getElementById("labarotory").className = "hidden";
                        document.getElementById("commission").className = "hidden";
                        break;
                    case "LABORATORY ANALYSIS":
                        document.getElementById("labarotory").className = "form-group";
                        document.getElementById("expense").className = "hidden";
                        document.getElementById("contractor").className = "hidden";
                        document.getElementById("equipment").className = "hidden";
                        document.getElementById("commission").className = "hidden";
                        break;
                    case "COMMISSIONS/REPRESENTATIONS":
                        document.getElementById("commission").className = "form-group";
                        document.getElementById("expense").className = "hidden";
                        document.getElementById("contractor").className = "hidden";
                        document.getElementById("equipment").className = "hidden";
                        document.getElementById("labarotory").className = "hidden";
                }
            });
    </script>
}