@model ProjectSS.Web.Models.ProjectViewModel
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>
    @Model.ProposalTitle
    <div class="pull-right">
        <a type="button" href="/Project" class="btn btn-info">Back</a>
    </div>
    <ol class="breadcrumb">
        <li>
            <a href="/Home">Home</a>
        </li>
        <li>
            <a href="/Project">Projects</a>
        </li>
        <li class="active">@Model.ProjectNo</li>
    </ol>
</h3>
<div class="row">
    <div class="col-lg-8">
        <!-- Main panel-->
        <div class="panel b">
            <div class="panel-heading">
                <div class="pull-right mt">
                    <div class="label label-info">Status</div>
                </div>
                <h4 class="mv">
                    <span>Assigned</span>
                </h4>
            </div>
            <div class="panel-body bb bt">
                <div class="form-group">
                    <div class="col-sm-5">Business Developement: </div>
                    <div class="col-sm-7">
                        <strong>@Model.BDName</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">Technical Head: </div>
                    <div class="col-sm-7">
                        <strong>@Model.THName</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">Technical Specialist: </div>
                    <div class="col-sm-7">
                        <strong>@Model.TSName</strong>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main panel-->
        <div class="panel b">
            <div class="panel-heading">
                <h4 class="mv">
                    <span>Details</span>
                </h4>
            </div>
            <div class="panel-body bb bt">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-5">Company Name: </div>
                        <div class="col-sm-7">
                            <strong>@Model.ProposalModel.CompanyName</strong>
                        </div>
                        <div class="col-sm-5">Industry: </div>
                        <div class="col-sm-7">
                            <strong>@Model.ProposalModel.Industry</strong>
                        </div>
                        <div class="col-sm-5">Contact Person: </div>
                        <div class="col-sm-7">
                            <strong>@Model.ProposalModel.ContactPerson</strong>
                        </div>
                        <div class="col-sm-5">Position: </div>
                        <div class="col-sm-7">
                            <strong>@Model.ProposalModel.ContactPersonPosition</strong>
                        </div>
                        <div class="col-sm-5">Location: </div>
                        <div class="col-sm-7">
                            <strong>@Model.ProposalModel.Location</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <h4>Description</h4>
                <p>
                    @Model.ProposalModel.Description
                </p>
            </div>
        </div>
        <!-- End Main panel-->
    </div>
    <div class="col-lg-4">
        <!-- Aside panel-->
        <div class="panel b">
            <div class="panel-heading">
                <div class="pull-right mt">
                    <div class="label label-info">Show value</div>
                </div>
                <h4 class="mv">
                    <span>Budget status</span>
                </h4>
            </div>
            <div class="panel-body bb bt">
                <div class="table-grid table-grid-align-middle mv">
                    <div class="col">
                        <div class="progress progress-xs m0">
                            <div class="progress-bar progress-bar-success" style="width:53%;"></div>
                        </div>
                    </div>
                    <div class="col wd-xxs text-right">
                        <div class="text-bold text-muted">48%</div>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <!-- end Aside panel-->
    </div>
    <div class="col-lg-4">
        <!-- Aside panel-->
        <div class="panel b">
            <div class="panel-heading">
                <div class="pull-right mt">
                </div>
                <h4 class="mv">
                    <span>Transactions</span>
                </h4>
            </div>
            <div class="panel-body bb bt">
                <a class="mb-xl btn btn-success col-sm-12" href="@Url.Action("Index", "BudgetRequest", new { id = Model.Id, projectNo = Model.ProjectNo })">Request Budget</a>
                <br />
                <a class="mb-xl btn btn-primary col-sm-12" href="@Url.Action("MyTransactions", "BudgetRequest", new { projectId = Model.Id,  projectNo = Model.ProjectNo })">My Transactions</a>
                <br />
                <a class="mb-xl btn btn-info col-sm-12" href="@Url.Action("TransactionsSummary", "BudgetRequest", new { projectId = Model.Id,  projectNo = Model.ProjectNo })">My Transactions</a>
            </div>
        </div>
        <!-- end Aside panel-->
    </div>
</div>
@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
}
@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/demoDatatable")
    <script type="text/javascript">
            $(document).ready(function () {
                if ('@TempData["Error"]' != "") {
                    $.notify('@TempData["Error"]', "danger");
                }
                if ('@TempData["Success"]' != "") {
                    $.notify('@TempData["Success"]', "success");
                }
                if ('@TempData["Info"]' != "") {
                    $.notify('@TempData["Info"]', "info");
                }
                if ('@TempData["Warning"]' != "") {
                    $.notify('@TempData["Warning"]', "warning");
                }
            });
    </script>
}

