@model ProjectSS.Web.Models.ProposalStaffModel
@{
    ViewBag.Title = "_Staff";
}
@Html.HiddenFor(m => m.ProposalId)
<div class="modal-body row">
    <div class="form-group col-sm-12">
        <label>Staff</label>
        @Html.DropDownListFor(model => model.UserId, (List<SelectListItem>)ViewBag.Users, "Select Staff", new { @class = "form-control", @required = "required", })
    </div>
    <div class="form-group col-sm-12">
        <label>Man Hours</label>
        @Html.TextBoxFor(model => model.ManHours, new { @class = "form-control", @type = "number", @required = "required" })
    </div>
    <div class="form-group col-sm-12">
        <label>Man Months</label>
        @Html.TextBoxFor(model => model.ManMonths, new { @class = "form-control", @type = "number", @required = "required" })
    </div>
    <div class="form-group col-sm-12">
        <label>Factor</label>
        <select class="form-control" id="Factor" name="Factor" required="required">
            <option value="">Select Factor</option>
            <option @(Model.Factor == decimal.Parse("2.0") ? "selected" : " ") value="2.0">2.0</option>
            <option @(Model.Factor == decimal.Parse("2.1") ? "selected" : " ") value="2.1">2.1</option>
            <option @(Model.Factor == decimal.Parse("2.2") ? "selected" : " ") value="2.2">2.2</option>
            <option @(Model.Factor == decimal.Parse("2.3") ? "selected" : " ") value="2.3">2.3</option>
            <option @(Model.Factor == decimal.Parse("2.4") ? "selected" : " ") value="2.4">2.4</option>
            <option @(Model.Factor == decimal.Parse("2.5") ? "selected" : " ") value="2.5">2.5</option>
            <option @(Model.Factor == decimal.Parse("2.6") ? "selected" : " ") value="2.6">2.6</option>
        </select>
    </div>
    <div class="form-group col-sm-offset-2 col-sm-8" >
        <h5 style="color:red" align="center">Warning : Please double check values before pressing <i><b>Save</b></i> entered values will not be <b>edited</b></h5>
    </div>
</div>


