@using ProjectSS.Web.Helpers
@using ProjectSS.Common
@{
    var count = ViewBag.Count;
    var canAccessOM = User.IsInRole(RoleType.OM.ToString());
    var canAccessBD = User.IsInRole(RoleType.BD.ToString());
    var canAccessTH = User.IsInRole(RoleType.TH.ToString());
    var canAccessAH = User.IsInRole(RoleType.AH.ToString());
    var currentUserName = "";
    if (ViewBag.CurrentUser != null)
    {
        currentUserName = ViewBag.CurrentUser.DisplayName;
    }
    else
    {
        currentUserName = "";
    };
}
<!-- START Sidebar (left)-->
<div class="aside-inner">
    <nav class="sidebar" data-sidebar-anyclick-close="">
        <!-- START sidebar nav-->
        <ul class="nav">
            <!-- START user info-->
            <li class="has-user-block">
                <div id="user-block" class="collapse">
                    <div class="item user-block">
                        <!-- User picture-->
                        @*<div class="user-block-picture">
                                <div class="user-block-status">
                                    <img src="~/Content/Images/user/02.jpg" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle" />
                                    <div class="circle circle-success circle-lg"></div>
                                </div>
                            </div>*@
                        <!-- Name and Job-->
                        <div class="user-block-info">
                            <span class="user-block-name">Hello, @currentUserName</span>
                        </div>
                    </div>
                </div>
            </li>
            <!-- END user info-->
            <!-- Iterates over all sidebar items-->
            <li class="nav-heading">
                @*<span>Main Navigation</span>*@
            </li>
            <li class="@Html.isActive(controller: "Home")" id="home">
                <a href="/Home" data-animate="" data-target="#home" data-play="pulse">
                    <em class="icon-home"></em>
                    <span>Home</span>
                </a>
            </li>
            @if (canAccessOM)
            {

                <li class="@Html.isActive(controller: "User")" id="user">
                    <a href="/User" data-animate="" data-target="#user" data-play="pulse">
                        <em class="icon-user"></em>
                        <span>Users</span>
                    </a>
                </li>

            }
            <li class="@Html.isActive(controller: "CRM")" id="crm">
                <a href="/CRM" data-animate="" data-target="#crm" data-play="pulse">
                    <em class="icon-briefcase"></em>
                    <span>CRM</span>
                </a>
            </li>
            @if (canAccessOM || canAccessBD || canAccessAH || canAccessTH)
            {
                <li class="@Html.isActive(controller: "Proposal")" id="proposal">
                    <a href="/Proposal" data-animate="" data-target="#proposal" data-play="pulse">
                        <em class="icon-book-open"></em>
                        <span>Proposal</span>
                    </a>
                </li>
            }
            @if (Html.isActive(controller: "BudgetRequest", action: "ProjectRequest") == "active" || Html.isActive(controller: "BudgetRequest", action: "MyTransactions") == "active" || Html.isActive(controller: "BudgetRequest", action: "TransactionsSummary") == "active")
            {
                <li class="active" id="project">
                    <a href="/Project" data-animate="" data-target="#project" data-play="pulse">
                        <em class="icon-chart"></em>
                        <span>Projects</span>
                    </a>
                </li>
            }
            else
            {
                <li class="@Html.isActive(controller: "Project")" id="project">
                    <a href="/Project" data-animate="" data-target="#project" data-play="pulse">
                        <em class="icon-chart"></em>
                        <span>Projects</span>
                    </a>
                </li>
            }


            @if (canAccessOM || canAccessAH || canAccessTH)
            {
                <li class="@Html.isActive(controller: "Approval")" id="approval">
                    <a href="/Approval" data-animate="" data-target="#approval" data-play="pulse">
                        @if (count > 0)
                        {
                            <div class="label label-success pull-right">@count</div>
                        }
                        <em class="icon-check"></em>
                        <span>Approval</span>
                    </a>
                </li>
            }
            <li class="@Html.isActive(controller: "BudgetRequest" , action: "Index")" id="budgetRequest">
                <a href="/BudgetRequest" data-animate="" data-target="#budgetRequest" data-play="pulse">
                    <em class="icon-tag"></em>
                    <span>Budget Request</span>
                </a>
            </li>
            @if (canAccessOM || canAccessAH )
            {

                <li class="@Html.isActive(controller: "RequestSummary", action: "Index")" id="bequestSummary">
                    <a href="/RequestSummary" data-animate="" data-target="#budgetRequest" data-play="pulse">
                        <em class="icon-calculator"></em>
                        <span>Requests Summary</span>
                    </a>
                </li>
            }
            <li class="@Html.isActive(controller: "Inventory")" id="inventory">
                <a href="/Inventory" data-animate="" data-target="#inventory" data-play="pulse">
                    <em class="icon-social-dropbox"></em>
                    <span>Inventory</span>
                </a>
            </li>
        </ul>
        <!-- END sidebar nav-->
    </nav>
</div>
<!-- END Sidebar (left)-->