@model ProjectSS.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-heading">
    <!-- START Language list-->
    <div class="pull-right">
        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-default">English</button>
            <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                <li>
                    <a href="#" data-set-lang="en">English</a>
                </li>
                <li>
                    <a href="#" data-set-lang="es">Spanish</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END Language list    -->
    Dashboard
    <small data-localize="dashboard.WELCOME"></small>
</div>
<!-- START widgets box-->
<div class="row">
    <div class="col-lg-3 col-sm-6">
        <!-- START widget-->
        <div class="panel bg-info-light pt b0 widget">
            <div class="ph">
                <em class="icon-user fa-lg pull-right"></em>
                <div class="h2 mt0">@Model.TotalOnlineUsers</div>
                <div class="text-uppercase">Online Users</div>
            </div>
            <div data-sparkline="" data-type="line" data-width="100%" data-height="75px" data-line-color="#23b7e5" data-chart-range-min="0" data-fill-color="#23b7e5" data-spot-color="#23b7e5" data-min-spot-color="#23b7e5" data-max-spot-color="#23b7e5"
                 data-highlight-spot-color="#23b7e5" data-highlight-line-color="#23b7e5" values="2,5,3,7,4,5" style="margin-bottom: -2px" data-resize="true"></div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <!-- START widget-->
        <div class="panel widget bg-purple-light pt b0 widget">
            <div class="ph">
                <em class="icon-chart fa-lg pull-right"></em>
                <div class="h2 mt0">
                    @Model.TotalProjects
                </div>
                <div class="text-uppercase">Projects</div>
            </div>
            <div data-sparkline="" data-type="line" data-width="100%" data-height="75px" data-line-color="#7266ba" data-chart-range-min="0" data-fill-color="#7266ba" data-spot-color="#7266ba" data-min-spot-color="#7266ba" data-max-spot-color="#7266ba"
                 data-highlight-spot-color="#7266ba" data-highlight-line-color="#7266ba" values="1,4,5,4,8,7,10" style="margin-bottom: -2px" data-resize="true"></div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <!-- START widget-->
        <div class="panel widget bg-info-light pt b0 widget">
            <div class="ph">
                <em class="icon-social-dropbox fa-lg pull-right"></em>
                <div class="h2 mt0">@Model.TotalNumberOfItemsAssigned</div>
                <div class="text-uppercase">Borrowed Item</div>
            </div>
            <div data-sparkline="" data-type="line" data-width="100%" data-height="75px" data-line-color="#23b7e5" data-chart-range-min="0" data-fill-color="#23b7e5" data-spot-color="#23b7e5" data-min-spot-color="#23b7e5" data-max-spot-color="#23b7e5"
                 data-highlight-spot-color="#23b7e5" data-highlight-line-color="#23b7e5" values="4,5,3,10,7,15" style="margin-bottom: -2px" data-resize="true"></div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <!-- START widget-->
        <div class="panel widget bg-purple-light pt b0 widget">
            <div class="ph">
                <em class="icon-pencil fa-lg pull-right"></em>
                <div class="h2 mt0">@Model.TotalPeddingRequst</div>
                <div class="text-uppercase">Peding Request</div>
            </div>
            <div data-sparkline="" data-type="line" data-width="100%" data-height="75px" data-line-color="#7266ba" data-chart-range-min="0" data-fill-color="#7266ba" data-spot-color="#7266ba" data-min-spot-color="#7266ba" data-max-spot-color="#7266ba"
                 data-highlight-spot-color="#7266ba" data-highlight-line-color="#7266ba" values="1,3,4,5,7,8" style="margin-bottom: -2px" data-resize="true"></div>
        </div>
    </div>
</div>

<!-- END widgets box-->
<div class="row-masonry row-masonry-lg-2">
    <div class="col-masonry">
        <div class="panel b m0">
            <div class="panel-heading">
                <div class="media mt0">
                    <div class="media-left">
                    </div>
                    <div class="media-body media-middle">
                        <h5 class="media-heading m0 text-bold">Rodolfo Romarate</h5>
                        <small class="text-muted">3 minutes</small>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu odio vitae augue elementum molestie sed quis turpis.</p>
                </blockquote>
                <footer>
                    <div class="media-body">
                        <span class="media-heading">
                            <p class="m0">
                                <a href="#">
                                    <strong>Rod Romarate</strong>
                                </a>
                            </p>
                            <p class="m0 text-muted">&nbsp;- ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </span>
                        <br />
                        <span class="media-heading">
                            <p class="m0">
                                <a href="#">
                                    <strong>Jhen Romarate</strong>
                                </a>
                            </p>
                            <p class="m0 text-muted">&nbsp;- ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </span>
                    </div>
                </footer>
            </div>
            <div class="panel-body">
                <form method="post" action="" class="mt">
                    <textarea placeholder="Comment..." rows="1" class="form-control no-resize"></textarea>
                </form>
            </div>
            <p>@*Lorem ipsum dolor sit amet, consectetur adipiscing elit.*@</p>
        </div>
    </div>
    <div class="col-masonry">
        <div class="panel b m0">
            <div class="panel-heading">
                <div class="media mt0">
                    <div class="media-left">
                    </div>
                    <div class="media-body media-middle">
                        <h5 class="media-heading m0 text-bold">Rod Romarate</h5>
                        <small class="text-muted">3 minutes</small>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </blockquote>
                <p>@*Lorem ipsum dolor sit amet, consectetur adipiscing elit.*@</p>
            </div>
        </div>
    </div>
    <div class="col-masonry">
        <div class="panel b m0">
            <div class="panel-heading">
                <div class="media mt0">
                    <div class="media-left">
                    </div>
                    <div class="media-body media-middle">
                        <h5 class="media-heading m0 text-bold">Jhen Romarate</h5>
                        <small class="text-muted">3 minutes</small>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </blockquote>
                <p>@*Lorem ipsum dolor sit amet, consectetur adipiscing elit.*@</p>
            </div>
        </div>
    </div>
    <div class="col-masonry">
        <div class="panel b m0">
            <div class="panel-body">
                <form method="post" action="" class="mb mt">
                    <textarea rows="4" placeholder="Post a new comment.." class="form-control"></textarea>
                </form>
                <div class="clearfix">
                    <div class="pull-right">
                        <button type="button" class="btn btn-success">Post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/bundles/jvectormapCss")
}
@section Scripts {
    @Scripts.Render("~/bundles/sparklines")
    @Scripts.Render("~/bundles/flot")
    @Scripts.Render("~/bundles/classyloader")
    @Scripts.Render("~/bundles/jvectormap")
    @Scripts.Render("~/bundles/demoFlot")
    @Scripts.Render("~/bundles/demoVectormap")
    <script type="text/javascript">
            $(document).ready(function () {
                if ('@TempData["Error"]' != "") {
                    $.notify('@TempData["Error"]', "danger");
                }
                if ('@TempData["Success"]' != "") {
                    $.notify('@TempData["Success"]', "success");
                }
                if ('@TempData["Info"]' != "") {
                    $.notify('@TempData["Info"]', "info");
                }
                if ('@TempData["Warning"]' != "") {
                    $.notify('@TempData["Warning"]', "warning");
                }
            });
    </script>
}