@using ProjectSS.Web.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<style>
    .panel-dark > .panel-heading {
        background-color: white;
    }
    .btn-success {
        background-color: #40bf80;
    }
</style>

<div class="block-center mt-xl wd-xl" style="padding-top:12%">
    <!-- START panel-->
    <div class="panel panel-dark panel-flat">
        <div class="panel-heading">
            <img src="~/Vendor/pictures/NewHeaderLogo.jpg" style="width: 289px;" />
        </div>
        <div class="panel-body">
            @*<p class="text-center pv">SIGN IN TO CONTINUE</p>*@

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <form role="form" data-parsley-validate="" novalidate="" class="mb-lg">
                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Address" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <span class="fa fa-lock form-control-feedback text-muted"></span>
                    </div>
                    <div class="clearfix">
                        <div class="checkbox c-checkbox pull-left mt0">
                            <label>
                                <input type="checkbox" value="" name="remember" />
                                <span class="fa fa-check"></span>Remember Me
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-success mt-lg">Login</button>
                </form>
            }
        </div>
    </div>
    <!-- END panel-->
</div>
@section Styles {
    @Styles.Render("~/bundles/datatablesCss")
}
@section Scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/demoDatatable")
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@TempData["Error"]' != "") {
                $.notify('@TempData["Error"]', "danger");
            }
            if ('@TempData["Success"]' != "") {
                $.notify('@TempData["Success"]', "success");
            }
            if ('@TempData["Info"]' != "") {
                $.notify('@TempData["Info"]', "info");
            }
            if ('@TempData["Warning"]' != "") {
                $.notify('@TempData["Warning"]', "warning");
            }
        });
        // Prevent duplicate submit
        $('form').submit(function () {
            if (typeof jQuery.data(this, "disabledOnSubmit") == 'undefined') {
                jQuery.data(this, "disabledOnSubmit", { submited: true });
                $('input[type=submit], input[type=button]', this).each(function () {
                    $(this).attr("disabled", "disabled");
                });
                return true;
            }
            else {
                return false;
            }
        });

    </script>
}